---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='September 16th' %}

  <div class="schedule" data-dates="9-16">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09:45 - 10:00' title='GrUSP presentation' fill='true' %}

        {% include schedule/talk.html time='10:00 - 10:45' title='Less abstract! Expressing Ruby OOP in pictures' fill='true' %}
        {% include schedule/talk.html time='10:45 - 11:30' title='Sequel: When ActiveRecord is not enough' fill='true' %}

        {% include schedule/pause.html time='11:30 - 12:00' title='Coffee break' icon="coffee" fill='true' %}
        
        {% include schedule/talk.html time='12:00 - 12:45' title='OSS - to be defined' fill='true' %}
        {% include schedule/talk.html time='12:45 - 13:30' title='Product metrics for developers' fill='true' %}

        {% include schedule/pause.html time='13:30 - 14:30' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='14:30 - 15:15' title='Moving to GraphQL - the fuzzy parts' fill='true' %}
        {% include schedule/talk.html time='15:15 - 16:00' title='Technically, a Talk' fill='true' %}
        
        {% include schedule/pause.html time='16:00 - 16:30' title='Coffee break' icon="coffee" fill='true' %}
        
        {% include schedule/talk.html time='16:30 - 17:15' title='Cool, But... Why?' fill='true' %}
        {% include schedule/talk.html time='17:15 - 18:00' title='Reduce Memory by Using More' fill='true' %}
        
        {% include schedule/pause.html time='18:00 - 18:15' title='Bye bye from GrUSP' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="9-16">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09:45 - 10:00' title='GrUSP presentation' fill='true' %}

        {% include schedule/talk.html time='10:00 - 10:45' title='Less abstract! Expressing Ruby OOP in pictures' fill='true' %}
        {% include schedule/talk.html time='10:45 - 11:30' title='Sequel: When ActiveRecord is not enough' fill='true' %}

        {% include schedule/pause.html time='11:30 - 12:00' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='12:00 - 12:45' title='OSS - to be defined' fill='true' %}
        {% include schedule/talk.html time='12:45 - 13:30' title='Product metrics for developers' fill='true' %}

        {% include schedule/pause.html time='13:30 - 14:30' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='14:30 - 15:15' title='Moving to GraphQL - the fuzzy parts' fill='true' %}
        {% include schedule/talk.html time='15:15 - 16:00' title='Technically, a Talk' fill='true' %}

        {% include schedule/pause.html time='16:00 - 16:30' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='16:30 - 17:15' title='Cool, But... Why?' fill='true' %}
        {% include schedule/talk.html time='17:15 - 18:00' title='Reduce Memory by Using More' fill='true' %}

        {% include schedule/pause.html time='18:00 - 18:15' title='Bye bye from GrUSP' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
